@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 700;
}

main {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.game {
  display: flex;
  justify-content: space-between;
}

.game img {
 width: 400px;
}

.game div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game button {
  width: 200px;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
  color: #ffffff;
  font-size: 20px;
  background-color : #27AE60;
  border: 0px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

#word {
  font-size: 50px;
  font-family: 'Noto Sans';
  margin-left: auto;
}

.playing {
  letter-spacing: 10px;
}

.won {
  color: #27AE60;
}

.lost {
  color: #FF0000;
}

.letters-container {
  width: 665px;
  margin: 60px auto 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.letters-container button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #39739D;
  background-color: #E1ECF4;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  cursor: pointer;
}

.letters-container button:disabled, #guessBtn:disabled {
  background-color: #9FAAB5;
  cursor: default;
}

.guess-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}

#guess {
  width: 35%;
  height: 40px;
  padding: 10px;
  outline: none;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

#guessBtn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: #3C76A1;
  background-color: #E1ECF4;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 1450px) {
  main{
    width: 70%;
  }
  
  .game > img {
    width: 350px;
  }
  
  .game button {
    width: 180px;
    height: 55px;
  }
}

@media (max-width: 1150px) {
  main{
    width: 80%;
  }
  
  .game img {
    width: 300px;
  }
  .game button {
    margin-top: 20px;
  }
}

@media (max-width: 980px) {

  main {
    width: 90%;
  }

  .game img {
    width: 250px;
  }

  .game button {
    margin-top: 15px;
    width: 150px;
    height: 45px;
    font-size: 16px;
  }

  .letters-container {
    width: 550px;
  }

  .letters-container button {
    font-size: 12px;
    width: 30px;
    height: 30px;
  }

}

@media (max-width: 700px) {
  main {
    width: 100%;
  }

  .game img {
    width: 200px;
  }

  .game button {
    width: 120px;
    height: 35px;
    font-size: 14px;
  }

  #word {
    font-size: 35px;
  }

}

@media (max-width: 575px) {
  .game img {
    width: 170px;
  }
  
  .letters-container {
    margin-top: 25px;
    width: 240px;
  }

  #word {
    font-size: 25px;
  }

  .guess-container {
    gap: 7px;
  }

  .guess-container label {
    width: 35px;
    font-size: 10px;
  }

  #guess {
    height: 30px;
  }

  #guessBtn {
    width: 55px;
    height: 30px;
    font-size: 12px;
  }
}